.Chart--Profile{
  height: 25rem;
}

.chart {
  /* margin: 20px;
  padding: 20px; */
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  height: 13rem;
  /* border-radius: 2rem; */

}

.chartTitle {
  margin-bottom: 20px;
}

.Chart_main{
  background-color: white;
  margin-bottom: 2rem;
}
.Chart_inbox{
  background-color: white;


}





.Chart_inbox_one{
  display: flex;
  align-items: center;
  gap: 3;
  justify-content: space-between;
}

.Chart_inbox_one a {
  display: block;
  background-color: green;
}

.Chart_inbox_two{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.Chart_inbox_two_img{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 3px solid grey;
  display: block;
}


.Chart_inbox_three{
  display: flex;
  gap: 1rem;

}