.Resourceswidget{
  background-color: white;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 20px;
  /* margin-right: 20px; */
  height: 25rem;
  overflow-y: auto;

}


.Resourceswidget_sec_one{
  display: flex;
  justify-content: space-around;
}

.Resourceswidget_upload{
  display: block;
}


.Resourceswidget_nav{
  display: flex;
  background-color: #C0C0C180;
  width: 70%;
  align-items: center;
  justify-content: center;
}

.Resourceswidget_nav > div{
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-align: center;
  align-items: center;
}

.Resourceswidget_nav a{
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-decoration: none;
}



.Resourceswidget_doc > div{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-top:2rem ;
}

.Resourceswidget_doc img{
   width: 1rem;
}