.StudentClassDetailsWrap{

}


.related-video{
  width: 8rem;
}


.j{
  border: 2px solid red;
}
.time-svg{
  width: 1rem;
  margin-top: -0.3rem;
}

.user-comment-icon{
  width: 2.688rem;
  height: 2.688rem;
}


@media (min-width: 768px) {  


}


@media (min-width: 992px  ) { 


  
  .StudentClassDetails_Resource{
    flex: 8;
  }

  .StudentClassDetails-sub-assignment{
    flex: 4;
  }

  .StudentClassDetails-mainVideo{
  }


  .StudentClassDetails-discussions,.StudentClassDetails-about{
    width: 70%;
  }

 }