
.Employers_wrapper{
    padding-bottom: 3rem;
}

.Employers_Talent{
    padding-bottom: 3rem;
}

.Employers_Talent_wrapper > div >form{
    padding: 2rem 1rem 0 1rem ;
}


.Employers_Talent_wrapper form div  input{
    margin-top: 1rem;
}



@media (min-width: 768px) {

    .Employers_Talent_wrapper > div{
        flex: 6;
    }

    .Employers_Talent{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .Employers_How_Techstudio_Works_Wrap > :nth-child(3) > div{
        flex: 4;
    }

    .Employers_ListOf_Role > div{
        width: 30%;
    }

    .Employers_Help_Hire > div >div >div{
        flex: 4;
    }

}


@media (min-width: 992px) { 
    
    

  
    
    .Employers_Talent_wrapper > :nth-child(2){
            flex: 4;    }
    
}



@media (min-width: 1200px) {

    .Employers_Talent_wrapper > :nth-child(1){

        width: 3rem;
        flex: 6;
       
    }

    .Employers_Talent_wrapper > :nth-child(1) > h1{

        width: 70%;
       
    }
    
    .Employers_Talent_wrapper > :nth-child(1) > p{

        width: 70%;
       
    }
    
    

    .Employers_Help_Hire > div >div{
        padding-top: 10rem !important
    }

    /* .Employers_Help_Hire_wrap >:first-child{
        flex: 6;
    } */


    .Employers_Help_Hire_form > form {
        width: 60%;
        
    }



 }

















