
.CourseTypeName >div{
    flex: 5;
}

.CourseTypeProcess_Number{


}

.CourseTypeProcess_Number >:nth-child(2){
    top: 46%;
left: 46%;
transform: translate(-50%, -50%);

}



@media (min-width: 992px) { 


    .CourseTypeName >:first-child{
        flex: 4.1;
        margin-top: 2rem;
    }

    .CourseTypeName img {
        width: 40rem;
        
    }




}



