

.AboutContainerOne > div >:nth-child(1){
  padding-left: 1rem;
}

.AboutContainerFour img{

  border-radius: 0.5rem;
}

.AboutContainerFour p{
margin-bottom: 0;
}

@media (min-width: 576px) {

    .AboutContainerTwo >div img{

    width: 20rem;
    height: 20rem;
    gap: 1rem;
  }


 }

@media (min-width: 768px) {
  .AboutContainerOne > div >div{
    flex: 6;
  }
  .AboutContainerOne > div >:nth-child(2) >div > img{
    width: 100%;
    margin-top: 2rem;
    }

    .AboutContainerTwo >div img{
      gap: 2rem;

    }

    .AboutContainerFour img{
      width: 15rem;
      
    }



}

@media (min-width: 992px) {

  .AboutContainerFour img{
    width: 20rem;
    
  }

 }

@media (min-width: 1200px) { 

  .AboutContainerOne > div > :nth-child(1) {
      padding-top: 5rem;
      font-size: 1.5rem;
    }

    .AboutContainerFour img{
      width: 25rem;
      
    }

 }


