
    
.HomeComponentSectionOneFlex{
    font-family: 'Open Sans', sans-serif;
 
}

.HomeComponentSectionThree{
    padding: 4rem 2rem;

}

.HomeComponentSectionFourWrapper > :nth-child(1){
    flex: 6;
}

.HomeComponentSectionFourWrapper > :nth-child(2){
    margin-top: 2rem;
    flex: 6;
}


.HomeComponentSectionFourWrapper >:nth-child(2) > :nth-child(2){
    font-size: 2rem;

}

.HomeComponentSectionFiveWrap > :nth-child(1){
    flex: 7;
}


.HomeComponentSectionFiveWrap > :nth-child(2){
    flex: 5;
}

.HomeComponentSectionThree img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
 



@media (min-width: 768px) {
    
    .HomeComponentSectionFiveWrap  li{
        width: 100%;
    }


 }



@media (min-width: 992px) { 
    .HomeComponentSectionOneFlex{
        gap: 2rem;
        margin-top: 3rem;
    }

    .HomeComponentSectionOne-side1{
        flex: 6;
    }
    .HomeComponentSectionOne-side2{
        flex: 5;
    }

    .HomeComponentSectionTwoSide1{
        flex: 5;
    }

    .HomeComponentSectionTwoSide2{
        flex: 8;
    }

    .HomeComponentSectionTwo > h2{
        margin-left: 2rem;
        margin-bottom: 2rem;
    }

    
    .HomeComponentSectionTwoSide2 > div > div{
        width: 50%;

    }

    .HomeComponentSectionTwoSide1 > img{
        width: 40rem;
        margin-left:-2rem;
    }

.HomeComponentSectionThree{
    width: 70%;
    margin: auto;
    border-radius: 1rem;
}

.HomeComponentSectionThree > div{
    /* background-color: red; */
    padding-left: 5rem;
    padding-right: 5rem;
}

.HomeComponentSectionFiveWrap  li{
    width: 80%;
}
}




