.Home{
  background-color: var(--Dashboard-bg-color);
  /* width: 100%; */
}

.homeWidgets{
  display: flex;
  justify-content: space-between;
  gap: 1rem;

}

.homeWidgets_sec_one{
  width: 35%;
}

.homeWidgets_sec_two{
  width: 32%;
}

.homeWidgets_sec_three{
  width: 33%;
}

.Home_sec2{
  margin-top: 8rem;
}