
:root {
  --Nav-bg-color : #1F2666;
  --Nav-color: #FFFFFF;
  --Dashboard-bg-color:#F5F6FA;
  --Nav-icon-unActive:#C0C0C180;
  --Nav-icon-Active: #FFFFFF;

  --main-color: hotpink;
  --pane-padding: 5px 42px;
}


*{
  margin: 0;
  padding: o;
  box-sizing: content-box;
}




