@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
:root {
  --Nav-bg-color : #1F2666;
  --Nav-color: #FFFFFF;
  --Dashboard-bg-color:#F5F6FA;
  --Nav-icon-unActive:#C0C0C180;
  --Nav-icon-Active: #FFFFFF;
  --main-color: hotpink;
  --pane-padding: 5px 42px;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}


body{
  font-family: 'Open Sans', sans-serif;
}








