

@media (min-width: 768px) {
}

@media (min-width: 992px) {

  .DashboardIntro{
    background-color: white;
    margin-left: 1rem;
    width: 80%;
    height: 100%;
  }



  .DashboardIntro_wrap img{
    width: 20rem;
  }

  .DashboardIntro_img{
    position:absolute;

    bottom: -2rem;
    right: -5rem;
  }

  .DashboardIntro_wrap > :nth-child(2){
    width: 80%;
  }
}


@media (min-width: 1400px) {

  .DashboardIntro_img{

    right: -9rem;
  }

}