.DashboardHome_2 {
  font-family: 'Open Sans', sans-serif;
}

.DashboardHome_2_wrap>h1 {
  font-size: 1.5rem;
}

.DashboardHome_2_wrap>h2 {
  font-size: 1.5rem;
  font-weight: var(--Semibold);
}

.DashboardHome_2_wrap>p {
  font-size: 1rem;
}

@media (min-width: 768px) {

  .DashboardHome_2 {
    background-color: #F5F6FA;
    padding-bottom: 5rem;
  }

  .DashboardHome_2_wrap {
    padding: 2rem 2rem;
    background-color: #FFFFFF;
    position: relative;
    width: 90%;
    margin: auto;
    margin-top: 5rem;
  }


  .DashboardHome_2_wrap .img1 {
    display: block;
    position: absolute;
    left: 80%;
    width: 10rem;
    bottom: 0;
  }

}



@media (min-width: 992px) {


  .DashboardHome_2_wrap .img1 {
    width: 18rem;
    left: 75%;
    z-index: -1;

  }

  .DashboardHome_2_wrap {
    position: fixed;
    width: 80%;
    margin-left: 2rem;
  }
}


@media (min-width: 1400px) {


  .DashboardHome_2_wrap {
    width: 85%;

  }



}