
  .DNav{
    width:  100vw;
    
  }

  .dashI{
    width: 2rem;
    color: white;
  }


@media (min-width: 576px) { 


  .DNav{
    width: 6rem;
    height: 200vh;
    position: static;
  }

  


  
  .tttt{
    position:fixed;
    left: 1.5rem;
  }}
  

  @media (min-width: 992px) { 

    .DNav{
      width: 4rem;
      height: 200vh;
      position: static;
    }

  }
/* 
// Small devices (landscape phones, 576px and up)

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */